<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <a href="/"><h3>Go to home</h3></a>
    <form action="/posts" method="post">

        <lable>Heading</lable><br>
        <input type="text" name="heading"><br>

        <lable>Content</lable><br>
        <textarea name="content"></textarea><br>

        <input type="submit"><br>
    </form>

    <h2>Your Posts :</h2>

    {% for p in posts %}
    <hr>
    <a href="/page/{{p.slug}}"><h2>{{p.heading}}</h2></a>
    <p style="width: 700px; overflow: auto;">{{p.content[:300]}} ...</p>
    <span style="font-weight: bold;">Posted By : {{p.username}}</span>
    <span style="margin-left: 50px;font-style: italic;">Date : {{p.date}}</span><br><br>
    <a href="/edit/{{p.slug}}">Edit</a>
    <a href="/delete/{{p.slug}}">Delete</a>
    {% endfor %}

</body>
</html>