<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
    <a href="/"><h3>Go to home</h3></a>

    <form action="/register" method="post">
        <lable>Username</lable><br>
        <input type="text" name="username"><br>

        <lable>Email</lable><br>
        <input type="email" name="email"><br>

        <lable>Password</lable><br>
        <input type="password" name="password"><br>

        <input type="submit"><br>
    </form>
    <a href="/login"><h3>Already have an account? Login</h3></a>

    {% if val %}
    <h2>Successfully Registered</h2>
    {% endif %}

</body>
</html>